.header-container {
    background-color: #1e2738;
    padding: 16px;
  }
  
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .menu-item {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: whitesmoke;
  }
  button {
    background-color: #ffaf00;
    border: 0;
    color: white;
    padding: 8px;
    border-radius: 4px;
  }
  